.DS_Store

# Node / NestJS
backend/node_modules/
backend/dist/
backend/coverage/
backend/.env

# Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/.packages

# IDE
.idea/
*.iml
